body {

    /*Background Vectors by Vecteezy*/
    background-image:url('Graphics/background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}
h1 {
  text-align: left;
}

h2 {
  font-size: 20;
  font-family: Arial, sans-serif;
  color: #f2f2f2;
}

#logo{
  text-align: center
}
.basetext{
  background-color: #f4f4f48c;
  padding: 30px;
  height: 100%;
}

img {
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

 /* Add a grey background color to the top navigation */
 .topnav {
    background-color: #42424283;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #acc6a1;
    color: rgb(0, 0, 0);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .imageflex { display: flex; float: left;}
  .imageflexcontent { margin-left: 5px; margin-top: 0; }